@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');


body {
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 18px;
}

a {
  color: white;
}

a:hover {
  color: blue;
}

.button {
  font-family: 'Raleway', sans-serif;
  color: black
}

#one {
  background-color: black;
  font-family: 'Lato', sans-serif;
}



#two {
  background-image: url("./assets/logos/movie-buddy-bg.png");
  background-size: cover;
  font-family: Helvetica;
}

#three {

}

#four {

}

#mobile-demo {
  width: auto
}
